# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
htmlcov/

# Virtual environment
venv/
env/
.venv/

# Editors
.vscode/
.idea/

# OS
.DS_Store
.Trashes
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints
